html {background-color: #CDE8E5;
    color: #363062 }
h1 {
    color: #062c30;
    text-align: center;
}
h2 {
    background-color: #7AB2B2;
}

h3 {
    background-color: #7AB2B2;
}
footer {
    background-color: bisque;
}
